

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron center">
  <div class="container">
    <h1>Work Smart. Spend less time on tedious tasks</h1>
    <p>XXX recommends services to remove you from the heavy lifting and spend more time on things that matter. </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<!-- START THE FEATURETTES -->
<div class="container">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Personalized. <span class="text-muted">Like hiring a consultant.</span></h2>
      <p class="lead">No two customers receive the same recommendations. We recommend services for exact fit.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("/images/placeholder500.jpg", class: "featurette-image img-responsive", alt: "Generic placeholder image") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <%= image_tag("/images/placeholder500.jpg", class: "featurette-image img-responsive", alt: "Generic placeholder image") %>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Simple. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Sign up in less than 2 minutes. And get up-to-date recommendations in your email.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Free! <span class="text-muted"></span></h2>
      <p class="lead">XXX is completely free. No fees, nothing.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("/images/placeholder500.jpg", class: "featurette-image img-responsive", alt: "Generic placeholder image") %>
    </div>
  </div>

</div>

<div class="container">
  <div class="center">
    <h2>Owner for individuals of all types.</h2>
    <p class="lead">wwww</p>
  </div>
</div>

<div class="container">
  <!-- Three columns of text below the carousel -->
  <div class="row center">
    <div class="col-lg-4">  
      <%= image_tag("/images/placeholder140.jpg", class: "img-circle", alt: "Generic placeholder image") %>    
      <h2>Free Lancer</h2>  
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euis...</p>
      <p>Helene Ponty, Graphic Design at PONTY</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("/images/placeholder140.jpg", class: "img-circle", alt: "Generic placeholder image") %>    
      <h2>Business Owner</h2>  
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,...</p>
      <p>Peter Schmitt, Owner at Super Bowling Balls</p>      
    </div><!-- /.col-lg-4 -->    
    <div class="col-lg-4">
      <%= image_tag("/images/placeholder140.jpg", class: "img-circle", alt: "Generic placeholder image") %>    
      <h2>Technologist</h2>  
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</p>
      <p>Edwyn Chan, Technology Entrepreneur at Spottly</p>      
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>
<!-- /END THE FEATURETTES -->

